/* CSS for The Fifth Section */
.row-cta{
    display:grid;
    /* Default 1 row 1 column */
    grid-template-columns: 100%;
    margin: 10px 16px;
    padding: 10px 16px;
    background: linear-gradient(270deg, #EDF5F7 0%, #E5F5FA 100%);
    border-radius: 10px;
    height: 120px;

    .col-cta-title{
        margin: 0;
        .cta-title{
            margin: 5px;
            font-size: 22px;
            line-height: 29.96px;
        }
    }
    .col-cta-action{
        display: flex;
        justify-content: flex-end;
        
        .button-cta{
            text-align: right;
            color: #9E7619;
            align-self: center;
        }
        .button-cta:hover{
            color: #bf8c15;
        }
    }
}
@media screen and (min-width: 1201px) {
    .row-cta{
        /*  1 row 2 columns with a size of 80:20 */
        grid-template-columns: 80% 20%;
        height: 80px;

        .col-cta-title{
            margin: 0;
            .cta-title{
                margin: 22px 5px;
                font-size: 22px;
                line-height: 29.96px;
            }
        }
    }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .row-cta{
        /*  1 row 2 columns with a size of 80:20 */
        grid-template-columns: 80% 20%;
        height: 80px;

        .col-cta-title{
            margin: 0;
            .cta-title{
                margin: 22px 5px;
                font-size: 22px;
                line-height: 29.96px;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .row-cta{
        /*  1 row 2 columns with a size of 80:20 */
        grid-template-columns: 80% 20%;
        height: 80px;

        .col-cta-title{
            margin: 0;
            .cta-title{
                margin: 22px 5px;
                font-size: 22px;
                line-height: 29.96px;
            }
        }

        .col-cta-action{
            margin: auto;
        }
    }
}
/* End of CSS for The Third Section */